div { transition: 0.4s; }
.atas {
    position: fixed;
    top: 0px;left: 0px;right: 0px;
    left: 20%;
    line-height: 70px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px #ddd;
    transition: 0.4s;
    z-index: 2;
}
.atas h1 {
    font-size: 23px;
    margin: 0;
    margin-left: 2.5%;
    float: left;
    cursor: pointer;
}
.atas #tblMenu {
    float: left;
    margin-left: 5%;
    font-size: 22px;
    cursor: pointer;
}
.atas button {
    float: right;
    margin-right: 5%;
    margin-top: 8px;
}

.kiri {
	position: fixed;
	top: 0px;left: 0px;bottom: 0px;
	width: 20%;
	background-color: #0a5e6a;
	color: #444;
	z-index: 1;
	box-shadow: 2px 1px 5px 1px #ddd;
}
.kiri .wrap { margin: 5%; }
.kiri a {
	text-decoration: none;
	color: #fff;
}
.kiri li {
	list-style: none;
    line-height: 55px;
	border-radius: 6px;
	padding: 1px 25px;
    font-family: ProReg;
}
.kiri li[aktif=ya] {
	background-color: rgb(13, 196, 175);
	color: #fff;
	font-family: ProBold;
}
.icon {
    text-align: center;
	display: inline-block;
	width: 35px;
}
.kiri .sub {
    padding: 0px;
	display: none;
}
.kiri li:hover .sub {
	display: block;
}
.kiri .logo {
	background-color:  #252c41;
	text-align: center;
	height: 70px;
}
.kiri .logo img {
	width: 65%;
	position: relative;
	top: 15px;
}
.kiri li .fa-angle-down { float: right !important;margin-top: 15px;font-size: 20px; }
/* hidden left menu */
body.hiddenLeftMenu .kiri { width: 6%; }
body.hiddenLeftMenu .kiri li { padding: 1px 15px; }
body.hiddenLeftMenu .kiri span { display: none; }
body.hiddenLeftMenu .atas { left: 6%; }
body.hiddenLeftMenu .container { left: 12.5%; }
body.hiddenLeftMenu .kiri li:hover .sub li {
    padding-left: 0px;
}

.container {
    position: absolute;
    top: 130px;left: 25%;right: 5%;
    transition: 0.6s;
    margin-bottom: 50px;
}
.container .bag {
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px #ddd;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-right: 4.6px;
}
.container .bag .bag {
    box-shadow: none;
    margin: 0;
    border-radius: 0px;
}
form .box { margin: 8px 0px 25px 0px; }

@media (max-width: 480px) {
    body.hiddenLeftMenu .kiri {
        width: 15%;
        left: -50%;
    }
    body .kiri { width: 75%; }
    body .atas { left: 75%;right: -75%; }
    body.hiddenLeftMenu .kiri .wrap { margin: 0; }
    body.hiddenLeftMenu .atas {
        left: 0%;right: 0%;
    }
    .container {
        top: 120px;
        left: 5% !important;
    }
    .atas h1 { margin-left: 5%; }
}